/* General */
body {
	margin: 0 auto;
	margin-top: 100px;
	font-family: Arial;
}
nav {
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-align: center;
}
nav a {
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
}
nav a:visited {
	text-decoration: none;
	color: black;
}
	/* login-register.html */
		.login, .register, .add {
			width: 500px;
			margin: 0 auto;
			border: 1px solid black;
			padding: 50px;
			margin-top: 150px;
		}
		.login div, .register div, .add div {
			margin-top: 20px;
		}
		.login label, .register label, .add label {
			display: inline-block;
			text-align: right;
			width: 40%;
		}
		.login input, .register input, .add input {
			width: 40%;
		}

		.form-button {
			text-align: center;
		}
		.register p, .login p, .add p {
			text-align: center;
			color: red;
			font-weight: bold;
		}

	/* index.html */
		#index_page {
			background-color: #383838;
		}
		table {
			margin: 0 auto;
			border-spacing: 25px;
		}
		table td {
			text-align: left;
		}
		td p {
			font-weight: bold;
			color: white;
			margin-bottom: 0px;
		}
		.movie_director {
			margin-top: 0;
			color: red;
			font-size: 15px;
		}
		.movie_director span {
			color: orange;
		}
		.movie_director a:visited {
			text-decoration: none;
			color: red;
		}
		.movie_director a {
			text-decoration: none;
		}
		#movie_cover {
			width: 220px;
			height: 270px;
			object-fit: fill;
			border: 1px solid gray;
			border-radius: 5px;
			opacity: 1;
			transition: opacity .5s ease-in-out;
		}
		#movie_cover:hover {
			opacity: .5;
    		transition: .5s ease-in-out;
		}